<!-- add-plantas.component.html -->
<div class="container">
    <h2>Agregar Nueva Planta</h2>
    <form>
        <div>
            <input type="file" (change)="onImageSelected($event)" accept="image/*" />
            <div *ngIf="imageUrl">
                <h3>Imagen Cargada:</h3>
                <img [src]="imageUrl" alt="Imagen Cargada" style="max-width: 100%; height: auto;" />
            </div>
        </div>
        <app-name-plant></app-name-plant>
        <app-hora-plant></app-hora-plant>
        <app-humed-plant></app-humed-plant>
        <app-cant-agua></app-cant-agua>
        <app-descrip></app-descrip>
        <app-add></app-add>
    </form>
</div>